.container {
    position: relative;
    width: 99vw;
    height: 100vw;
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-areas:
        "header"
        "content"
        "content2"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 64px 678px 400px auto;
}

.links {
    grid-area: header;
    position: absolute;
    right: 188px;
    top: 20px;
}

.links:hover .icon span:nth-child(2) {
    width: 100%;
}

.links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.links .icon span:first-child {
    width: 100%;
}

.links .icon span:nth-child(2) {
    width: 60%;
    transition: all 0.2s ease;
}

.links .icon span:last-child {
    width: 100%;
}

.links ul {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.links:hover ul {
    display: block;
}

.links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: all 200ms ease;
}

.links ul li a:hover {
    padding-left: 44px;
    background-color: #8888881f;
}

.links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.logo {
    position: absolute;
    left: 186px;
    top: 19px;
}

img {
    width: 4vw;
}
.content {
    display: flex;
    grid-area: content;
    background-image: url(./Leon/asset\ 6.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    

}

.content #welcom {
   
    display: flex;
    width: 294px;
    height: 145px;
    align-items: center;
    flex-direction: column;
    font-family: "Work Sans", sans-serif;
    justify-content: space-between;
    margin-bottom: 18px;
}

.content #smll {
    text-align: center;
    line-height: 34px;
    font-size: 19px;
}

.content #grand {
    color: rgb(16, 202, 183);
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.content2 {
    position: relative;
    grid-area: content2;
    background-color: rgb(246, 246, 246);

}
.content2 #allcart{
    display: flex;
    position: absolute;
    left: 171px;
    right: 171px;
    gap: 130px;
    height: 100%;
   align-items: center;
   text-align: center;
}
.cart1 ,
.cart2 ,
.cart3{
    display: flex;
    height: 59%;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Work Sans", sans-serif;
    line-height: 32px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(136, 131, 131);
}

#cart{
    color: black;
    font-weight: 700;
}


.footer {
    background-color: aqua;
    grid-area: footer;
}
.content h1 {
    color: rgb(16, 202, 183);
    font-family: "Rubik", sans-serif;
    font-size: 50px;
}
