.page {
    position: relative;
    height: 100vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 4vw auto 8vw;
    background-color: #f8f9fa;
    grid-template-areas:
        "log log log . . . . . .  nav"
        "cont cont  cont cont cont cont cont cont cont cont"
        "foot foot foot foot foot foot foot foot foot foot ";
}
  .links {
    position: absolute;
    right: 188px;
    top: 20px;
  }
    .links:hover .icon span:nth-child(2) {
    width: 100%;
  }
    .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
    .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
  }
    .links .icon span:first-child {
    width: 100%;
  }
    .links .icon span:nth-child(2) {
    width: 60%;
    transition: all 0.2s ease;
  }
    .links .icon span:last-child {
    width: 100%;
  }
    .links ul {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
  }
    .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
  }
    .links:hover ul {
    display: block;
  }
    .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: all 200ms ease;
  }
    .links ul li a:hover {
    padding-left:44px;
    background-color: #8888881f;
  }
    .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
  }
.logo{
    position: absolute;
    left: 186px;
    top: 19px;
}
img{
    width: 4vw;
    }
nav {
    position: absolute;
    grid-area: nav;
    right:166px; 
}
section {
    grid-area: cont;
    background-color: rgb(0, 140, 255);
}
aside {
    grid-area: side;
    background-color: aquamarine;
}
footer {
    grid-area: foot;
    background-color: rgb(118, 192, 193);
}